<center>
<div style="border:solid black;">

<p>Dernier Résultat</p>


{{#each dernierresultat}}
<p>{{this.gpnom}} du {{this.gpdate}}</p>
 {{/each}}

<p>Mise à jour : hier</p>

<a href="#">Voir les résultats</a>

</div>
</center>