<h1>Liste des circuits enregistrés</h1> 


<table class="tabpayscir">
	 {{#each listeDesCircuits}}
		<tr><td><img src="/image/pays/{{this.payadrdrap}}" alt="drapeau du pays" width="50" height="50" />
      <a href="/detailCircuit/{{this.cirnum}}"> {{this.cirnom}}</a>
    </td></tr>
 {{/each}}
</table>
<br class="myboth" /> 
