<p>Cliquez sur une lettre : <p>

<table class = "listenoms">
	<tr>
		{{#each listeLettrePilote}}
			<td><a href ="#">{{this.lettre}}</a></td>
		{{/each}}
	</tr>
</table>

<table>
  <tr>
		{{#each listePilote}}
			<td><a href ="#">{{this.lettre}}</a></td>
		{{/each}}
	</tr>
</table>
