<center>
  <h2>Administration</h2>
  <form method="post" action="/connexion">
    <label>Login :</label>
    <input type="text" id="login" name="login"/>
    <label>Mot de passe :</label>
    <input type="password" id="mdp" name="mdp"/>
    <input type="submit" name="Annuler" value="Annuler"/>
    <input type="submit" name="Valider" value="Valider"/>
  </form>
</center>
