<center>
  {{#each login}}
  <h2>Authentification réussi</h2>
  <h2>Bienvenue  de mdp </h2>
  {{else}}
  <h2>Administration</h2>
  <form method="post" action="/authentification">
    <label>Login :</label>
    <input type="text" id="login" name="login"/>
    <label>Mot de passe :</label>
    <input type="password" id="mdp" name="mdp"/>
    <input type="submit" name="Annuler" value="Annuler"/>
    <input type="submit" name="Valider" value="Valider"/>
  </form>
  {{/each}}
</center>
